.nav-bar {
    /* set width and height */
    display: flex;
    height: 3rem;
    font-size: x-large;
    font-family: sans-serif;
}

.nav-bar-logo {
    /* set logo size */
    width: auto;
    height: 3rem;
}

.nav-bar-title {
    display: flex;
    justify-content: flex-start;
}

.nav-bar-subtitle {
    margin-top: 0.5rem;
    margin-left:1rem;
}

.nav-bar-callnow {
    margin-top: 0.5rem;
    margin-left: auto;
}

.title {
    font-weight: bold;
    color: black;
    font-size: xx-large;
}


.text-between-button {
    margin-left: 2rex;
    margin-right: 2rex;
    font-weight: bold;
    margin-top: 1rex;
}

body>* {
    border-bottom: 0.1rch solid lightgray;
    padding-bottom: 2rem;
    padding-top: 2rem;;

}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    width: auto;
    height: auto;
}

.image-container img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Light gray shadow */
}

.arrow {
    position: absolute;
    z-index: 2;
}

.arrow-left {
    left: -1.5rem;
    /* Adjust to overlap half of the button */
}

.arrow-right {
    right: -1.5rem;
    /* Adjust to overlap half of the button */
}

.characteristic-container>* div {
    image {
        width: auto;
        height: 30%;
    }

    margin-right:1rem;
}

.h3-p {
    h3 {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    ;

    p {
        color: gray;
    }
}

.feature-container {
    margin-left: 4rem;
}

.feature-container>* {
    border-bottom: 0.1rch solid lightgray;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    ;

    >* {
        margin-right: 0.5rem;
    }

    p {
        color: red;
    }
}

.screenshot {
    margin-left:1rem;
    margin-right:1rem;

    image {
        width: auto;
        height: auto;
    }
}



.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial-box {
    position: relative;
    /* Necessary for the triangle positioning */
    border: 0.1rem solid lightgray;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 4rem;
}

/* Square triangle at the bottom left */
.testimonial-box::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 4;
    width: 0;
	height: 0;
	border-top: 1rem solid lightgrey;
	border-left: 1rem solid transparent;
    /* The color should match the background of the box */
    z-index: 1;
    box-shadow: 1px 1px 1px rgba(241, 237, 237, 0.05);
}

.quote {
    font-style: italic;
}

.author {
    text-align: left;
    font-size: 1rem;
    color: #777;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
    bottom:-2.5rem;
    left:10
}

.author strong {
    color: #333;
}

.author em {
    font-style: italic;
    color: #999;
}

.block-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.designer{
    font-style: italic;
    font-weight: bold;
    color: orangered;
}

footer{
    padding-top:0;
    padding-bottom: 0;
}

footer>*{
    >*{
        margin-left:2rem;
        margin-top:4rem;
    }
}

.icon-footer{
    margin-right:2rem;
    justify-content: flex-end;
}

.svg-icon {
    width: 50%; /* Make the SVG responsive */
    height: auto; /* Maintain aspect ratio */
}

.end-of-footer{
    padding-top:2rem;
    padding-bottom:2rem;
}

@media (max-width: 480px) {
    .flex-row {   
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items horizontally */
    }

    .svg-icon{
        width: 100%;
        height:auto;
    }

    .h3-p {
        margin-left: 0; /* Remove left margin on small screens */
        text-align: center; /* Center text on small screens */
    }

}

/* responsive for mobile */
@media (min-width: 480px) {
    body {
        width: 100%;
    }

    .nav-bar {
        margin-right: 0;
        height: 2rem;
        font-size: large;
    }
}

/* responsive for pc */
@media (min-width: 1024px) {
    body {
        width: 1024px;
        margin: 0;
    }

    .nav-bar {
        margin-right: 2rem;
        height: 3rem;
        font-size: x-large;
    }
}

@media (min-width:1024px) {
    .nav-bar-logo {
        width: auto;
        height: 3rem;
    }
}